* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.body-inicial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #000000, #eeeeee);
  padding: 10px 40px;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.search-top {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
  width: 300px;
}

.search-top input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil-info {
  text-align: right;
  color: rgb(59, 46, 248);
}

.perfil-info h3 {
  margin: 0;
}

.perfil-info p {
  font-size: 14px;
  color: #5f695c;
}

.profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.lateral {
  width: 70px;
  background: linear-gradient(to right, #616161, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.lateral i {
  margin: 25px 0;
  font-size: 20px;
  cursor: pointer;
  color: #6a5af9;
}

.contatos {
  width: 300px;
  background-color: #000000;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 20px;
}

.contato {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #3a3939;
  cursor: pointer;
 
}

.numero-circulo {
  display: inline-block;
  background-color: #7474db;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  margin-left: 6px;
  padding: 2px 8px;
}


.contato img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contato h4 {
  margin: 0;
  color: #b6b4c0;
}

.contato p {
   margin: 2px 0;
  font-size: 13px;
  color: rgb(128, 123, 123);
}

.contato i{
  background-color: #365aff;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2e2c2c;

}


.chat-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #000000;
}

.chat-header img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-header h3 {
  margin: 0;
}

.chat-icons {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.chat-icons i {
  font-size: 18px;
  cursor: pointer;
  color: #365aff;
}

.chat-body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.mensagem {
  background-color: #ffffff;
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 60%;
}

.mensagem-enviada {
  background-color: #3c4355;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 60%;
  align-self: flex-end;
}

.mensagem span,
.mensagem-enviada span {
  display: block;
  font-size: 10px;
  margin-top: 5px;
  color: #ffffff;
}

.chat-input {
  padding: 15px 20px;
  border-top: 1px solid #000000;
  background-color: rgb(0, 0, 0);
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #000000;
  outline: none;
}

.chat-input button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  padding: 0 20px;
  cursor: pointer;
}