* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding: 20px;
}

.card {
  min-height: 900px;
  background-color: #2b2b2b;
  border-radius: 20px;
  width: 100%;
  max-width: 430px;

  overflow: hidden;
  box-shadow: none;
  border: none;
}

.card-img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 20px;
  margin-top: 0px;
}

.movie-type {
  color: orangered;
  font-weight: bold;
  font-size: 14px;
}

.movie-title {
  margin: 5px 0;
  font-size: 22px;
  font-weight: bold;
}

.movie-genres {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 15px;
  display: block;
}

.movie-description {
  font-size: 14px;
  color: #aaa;
  line-height: 1.5;
  margin-bottom: 15px;
  
}

.movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
  color: #ddd;
  margin-bottom: 20px;
  margin-top: 10px;
}

.movie-info i {
  margin-right: 5px;
}

.watch-btn {
  background-color: rgb(241, 116, 70);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s ease;
  margin-top: 100px;
 
}

.watch-btn:hover {
  background-color: #f14308;
}
