* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.telacheia {
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.principal {
  position: relative;
  width: 100%;
  height: 100vh;
}

.img-responsiva {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo span {
  color: rgb(206, 209, 53);
}

.descricao {
  font-size: 18px;
  margin: 10px 0;
  padding: 0 20px;
  color: #ccc;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
 
}

.sign {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;

}

.google {
  background-color: rgb(255, 153, 86);
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}
