css * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: Arial, sans-serif;
  color: white;
 
}
 
 
.hero {
  background-image: url('https://i.pinimg.com/736x/cd/a3/fa/cda3fa4a00125acdd18ea018874520f9.jpg ');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
 
 
.nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  font-size: 14px;
}
 
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
 
.title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}
 
.btn {
  margin-top: 20px;
  background-color: white;
  color: black;
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
 
}
 

.bestsellers {
 
  color: black;
  padding: 60px 40px;
  font-size: 20px;
}
 
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.product {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 15px;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-info {
  margin-top: 10px;
}

.rating {
  margin-top: 8px;
  color: #f39c12;
  font-weight: bold;
}
