 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body {
     background-color: #000000;
 }

 .container {
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     padding: 1rem;
     gap: 1rem;
 }


 .sidebar {
     width: 240px;
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
     padding: 1rem;
     background: rgb(0, 0, 0);
     border-radius: 12px;
     height: 100vh;
     position: sticky;
     top: 0;
 }

 .logo {
     font-size: 2rem;
     font-weight: bold;
     color: #5f98da;
     font-size: 29px;
 }

 .sidebar nav ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     color: #65a4eb;
 
    
 }

 .sidebar nav li {
     display: flex;
     align-items: center;
     gap: 10px;
     font-size: 1.1rem;
     padding: 8px;
     border-radius: 20px;
     transition: background 0.2s;
     cursor: pointer;
     font-size: 16px;
 }

 .sidebar nav li:hover {
     background-color: #1d3a4d;
 }

 .post-button {
     margin-top: 1rem;
     padding: 12px;
     background: linear-gradient(to right, #165181, #000000);
     color: rgb(189, 182, 182);
     border: none;
     border-radius: 25px;
     font-weight: bold;
     cursor: pointer;
     font-size: 1rem;
     font-size: 14px;
 }

 .user-profile {
     margin-top: auto;
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 10px;
     border-radius: 25px;
     cursor: pointer;
     transition: background 0.3s;
     background: linear-gradient(to right, #000000, #165181);
     font-size: 17px;
 }

 .user-profile:hover {
     background-color: #b8b3b3;
 }

 .user-profile img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     object-fit: cover;
 }

 .feed {
     flex: 1;
     background: rgb(0, 0, 0);
     padding: 1rem;
     border-radius: 12px;
 }

 .post-box {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     margin-bottom: 1.5rem;
 }

 .post-box textarea {
     width: 100%;
     height: 60px;
     padding: 10px;
     border-radius: 10px;
     border: 1px solid #3385e4;
     resize: none;
 }

 .post-box button {
     align-self: flex-end;
     padding: 8px 20px;
     background: linear-gradient(#000000, #165181);
     color: rgb(231, 232, 248);
     border: none;
     border-radius: 20px;
     cursor: pointer;
 }

 .tweet {
     padding: 1rem 0;
     border-top: 1px solid #ebdddd;
     color: #a1c9f7;
     font-size: 14px;
 }

 
 .tweet-image img {
     width: 100%;
     border-radius: 10px;
     margin: 0.5rem 0;
 }

 .tweet-stats {
     display: flex;
     gap: 1.5rem;
     font-size: 0.9rem;
     color: #a1c9f7;
 }

 .right-sidebar {
     width: 300px;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     position: sticky;
     top: 0;
     height: fit-content;
 }

 .right-sidebar>div {
     background: rgb(0, 0, 0);
     padding: 1rem;
     border-radius: 12px;
 }

 .suggestions ul,
 .trends ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 0.7rem;
   
 }

 .suggestions li,
 .trends li {
     padding: 0.4rem 0;
     color: #65a4eb;
 }

 .suggestions button {
     float: right;
     background: linear-gradient(#171718,#26304b,#0a0a0a);
     color: white;
     border: none;
     padding: 4px 12px;
     border-radius: 20px;
     cursor: pointer;
     font-size: 0.85rem;
 }
